/* assets/css/custom.css */

body {
  background-color: #111 !important;
  color: #eee !important;
}

.page__content {
  background-color: #111 !important;
}

footer,
.site-footer {
  background: #000 !important;
  color: #888 !important;
}
